.featuredproducts {
    margin: 100px 200px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      
  
      h1 {
        flex: 2;
        text-transform: capitalize;
        border: 2px;
      }
  
      p{
        display: flex;
        flex:3;
        color:rgb(216, 24, 24)
      }
    }
  
    .bottom{
      display: flex;
      justify-content: center;
      gap: 50px;
    }
  }