.contacts{

   
    border-radius: 50px;
    background-color: rgb(95, 187, 152);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 30px;
    width: 100vw;
    .heading{
        margin-right: 150px;
    }
    .joinus{
        display: flex;
        
        input{
            padding: 5px;
        }
        button{
            border-radius: 7px;
            border: none;
            color: azure;
        }
    }
    .logos{
        margin-left: 200px;
        justify-content: center;
        align-items: center;
    }


}