.products{
    padding: 30px 50px;
    display: flex;
    background-color: antiquewhite;
    
    .left{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;
    }
    .filter {

        margin-bottom: 30px;
        h2{
            font-weight: 20px;
            margin-bottom: 20px;
        }
        .inputItem{
            margin-bottom: 10px;
            font-weight: bold;
        }

    };
    .right{
        flex: 3;
    }
    .catImg{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}